{% extends "base.html" %}
 
 
{% block content %}
<h1 class="mb-2">Welcome to The BATCH Newsletter by Andrew Ng!</h1>
<a href="{% url 'post_create' %}" class="btn btn-success mb-2">+ New Post</a>
 
 
{% if posts %}
    <div class="mt-2">
        {% for post in posts %}
        <div class="card">
            <h2 class="card-title">
                <a href="{% url 'post_details' post.pk %}" class="card-title">{{ post.title }}</a>
            </h2>
            <p class="card-meta">
                Published: {{ post.published_date|date:"F d, Y \a\t g:i A" }}
            </p>
            <p class="mb-1">
                {{ post.content|truncatewords:30 }}
            </p>
            <div style="display: flex; gap: 0.5rem;">
                <a href="{% url 'post_details' post.pk %}" class="btn btn-primary" style="font-size: 0.9rem;">View</a>
                <a href="{% url 'post_update' post.pk %}" class="btn btn-warning" style="font-size: 0.9rem;">Edit</a>
                <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger" style="font-size: 0.9rem;">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p class="text-muted mt-2">
        No blog posts yet. <a href="{% url 'post_create' %}" class="card-title">Create one now</a>
    </p>
{% endif %}
{% endblock %}