<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The BATCH Newsletter</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog_app/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'post_list' %}" class="navbar-link">Blog Posts</a>
        <a href="#" class="navbar-link">About</a>
    </nav>
 
 
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
 
 
    <footer class="site-footer">
        <p>&copy; 2026 Andrew Ng. All rights reserved.</p>
    </footer>
</body>
</html>